[Unit]
Description=btsync run by {{ btsync_user }}
After=network.target

[Service]
Type=forking
User={{ btsync_user }}
Group={{ btsync_user }}
ExecStart={{ btsync_binary_dir }}/btsync --config "{{ btsync_config }}"
Restart=on-abort

[Install]
WantedBy=multi-user.target
