{
"device_name": "{{ btsync_device_name }}",
"listening_port": {{ btsync_port }},
"storage_path": "/home/{{ btsync_user }}/.sync",
"check_for_updates": false,
"use_upnp": {{btsync_upnp|lower}},
"download_limit": 0,
"upload_limit": 0,
{% if btsync_shared_folders is defined%}
/* !!! if you set shared folders in config file WebUI will be DISABLED !!!
   shared directories specified in config file  override the folders previously added from WebUI. */
/*
"shared_folders": [
    {% for folder in btsync_shared_folders %}
    {
      "secret" : "{{ folder.key }}",
      "dir" : "{{ folder.path }}",

      "use_relay_server" : {{folder.use_relay_server|default(btsync_use_relay_server)|lower}},
      "use_tracker" : {{folder.use_tracker|default(btsync_use_tracker)|lower}},
      "use_dht" : {{folder.use_dht|default(btsync_use_dht)|lower}},
      "search_lan" : {{folder.search_lan|default(btsync_search_lan)|lower}},
      "use_sync_trash" : {{folder.use_sync_trash|default(btsync_use_sync_trash)|lower}}
    }{% if not loop.last %},{% endif %}
    {% endfor %}
]
{% else %}
"webui": {
    {% if btsync_webui.get('api_key') %}
    "api_key"  : "{{ btsync_webui.api_key }}",
    {% endif %}
    "listen": "{{ btsync_webui.listen }}:8888",
    "login" : "{{ btsync_webui.user }}",
    "password" : "{{ btsync_webui.password }}"
}
{% endif %}
}
